@import "@fortawesome/fontawesome-free/css/all.css";

i,
li {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.custom-snackbar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}